<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-back-button color="light" defaultHref="home"></ion-back-button>
    </ion-buttons>
    <strong> Daftar Transaksi</strong>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="ion-margin" *ngFor="let tmp of transaksi">
    <h6 *ngIf="!tmp.status"
      style="font-size: small; background-color: #FEC002; text-align: center; margin: 0px; padding: 10px; color: black;"
    >
      Menunggu Konfirmasi
    </h6>
    <h6 *ngIf="tmp.status"
    style="font-size: small; background-color: #32CD32	; text-align: center; margin: 0px; padding: 10px; color: black;"
  >
    Selesai!
  </h6>
    <ion-item lines="full" style="width: 100%;" class="ion-no-margin">
      <ion-label style="height: 20px; " class="ion-no-margin">
        
        <h6 style="font-size: small; margin: 0;">{{tmp.waktu}}</h6></ion-label
      >
    </ion-item>

    <ion-item
      lines="full"
      style="width: 100%;"
      class="ion-no-padding ion-no-margin"
    >
      <ion-grid>
        <ion-row>
          <ion-col size="3">
            <img
              style="width: 70px; height: 60px;"
              src="../../assets/sepatu.png"
            />
          </ion-col>
          <ion-col size="9">
            <ion-row>
              <p style="font-size: 18px;" class="ion-no-margin">Jumlah Produk</p>

            </ion-row>
            <ion-row>
              <h6 style="padding-top: 3px; font-size: 10px; color: grey;" class="ion-no-margin">(+1 Produk Lainnya)</h6>
            </ion-row>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
    <ion-item lines="full" style="width: 100%;"> 
      <ion-grid>
        <ion-row>
          <ion-col size="3">

          </ion-col>
          <ion-col size="9">
            <ion-row>
              <h6 class="ion-no-margin" style="color: grey; font-size: 14px; margin-bottom: 5 px;">Total Pembayaran</h6>
            </ion-row>
            <ion-row>
              <h6 class="ion-no-margin " style="color: #FEC002; font-size: 18px; ">{{tmp.total_harga |currency:"Rp ":"symbol":"3.0"}}</h6>
            </ion-row>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-card>
</ion-content>
