<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-back-button color="light" defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-searchbar></ion-searchbar>
    <ion-item lines="none" slot="end" color="secondary">
      <ion-icon name="mail"></ion-icon>
    </ion-item>
    <ion-item lines="none" slot="end" color="secondary">
      <ion-icon name="notifications-outline"></ion-icon>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item lines="full">
    <ion-grid>
      <ion-row>
        <ion-col class="ion-float-left" size="9">
          <h6 class="ion-margin-bottom">Spakbor motor 1</h6>
        </ion-col>

        <ion-col size="1">
          <ion-button
            class="ion-no-padding ion-no-margin"
            fill="clear"
            size="small"
          >
            <ion-icon name="remove" style="color: black; margin-top: 15px" ></ion-icon>
          </ion-button>
        </ion-col>

        <ion-col size="1">
          <ion-input  style="border: 1px;"> </ion-input>
        </ion-col>

        <ion-col size="1">
          <ion-button
            class="ion-no-padding ion-no-margin"
            fill="clear"
            size="small"
          >
            <ion-icon name="add" style="color: black;margin-top: 15px "></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-item>

  <ion-item lines="full">
    <ion-grid>
      <ion-row>
        <ion-col class="ion-float-left" size="9">
          <h6 class="ion-margin-bottom">Spakbor motor 1</h6>
        </ion-col>

        <ion-col size="1">
          <ion-button
            class="ion-no-padding ion-no-margin"
            fill="clear"
            size="small"
          >
            <ion-icon name="remove" style="color: black; margin-top: 15px" ></ion-icon>
          </ion-button>
        </ion-col>

        <ion-col size="1">
          <ion-input  style="border: 1px;"> </ion-input>
        </ion-col>

        <ion-col size="1">
          <ion-button
            class="ion-no-padding ion-no-margin"
            fill="clear"
            size="small"
          >
            <ion-icon name="add" style="color: black;margin-top: 15px "></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-item>
</ion-content>
