<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-back-button color="light" defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-searchbar (ionChange)="search($event)"></ion-searchbar>
    <ion-item lines="none" (click)="keranjang()"slot="end" color="secondary">
      <ion-icon style="font-size:2em;"name="checkmark"></ion-icon>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
  <ion-item *ngFor="let tmp of barang; index as i" lines="full">
    <ion-label>
      <h2>{{tmp.nama_barang}}</h2>
      <p>Harga : {{tmp.harga_pokok |currency:"Rp ":"symbol":"3.0"}}/{{tmp.satuan}}</p>
  </ion-label>
      <!--<ion-row>
        <ion-col class="ion-float-left" size="9">
          <h5 class="ion-margin-bottom"></h5>
          <h6 class="ion-margin-bottom"></h6>
        </ion-col>
        <ion-col size="4">-->
          <ion-button
            class="ion-no-padding ion-no-margin"
            fill="clear"
            slot="end"
            size="medium"
            (click)="tambahKeranjang(i)"
          >
            <ion-icon name="add" style="color: black;margin-top: 15px "></ion-icon>
          </ion-button>
        <!--</ion-col>
      </ion-row>-->
    
  </ion-item>
  </ion-list>
  <ion-infinite-scroll (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content
    loadingSpinner="circles"
    loadingText="Loading more data..." >
  </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
