<ion-content color="secondary">
  <ion-grid>

    <br>
    <br>

    <ion-row >  
    <div class="section_1 ion-text-center">
      <h1 >Logo</h1>
    </div>
    </ion-row>

    <br>
    <br>
    <br>
    <br>

    <ion-row class="section_2">
      
          <ion-col size="12">
              <ion-item class="roundedInput">
                  <ion-input placeholder="Email" [(ngModel)]="email" shape="round" type="email" > <ion-icon  name="md-person" style="padding-right: 6px;"></ion-icon>
                   </ion-input>
                </ion-item>
          </ion-col>
          <ion-col size="12">
              <ion-item class="roundedInput">
                  <ion-input placeholder="Password" [(ngModel)]="password" type="password" ><ion-icon  name="md-key" style="padding-right: 6px;"></ion-icon> </ion-input>
                </ion-item>
          </ion-col>
      
    </ion-row>

    <br>
    <br>
    <br>
    <br>
    
    <ion-row class="section_3"> 
      <ion-col size=12>
        <ion-button expand="block"
        color="warning"
        fill="solid"
        size="large"
        shape="round"
        (click)="login()">
          Login
        </ion-button>
      </ion-col>
      <ion-col size=12>
        <ion-button expand="block"
        color="warning"
        fill="outline"
        size="large"
        shape="round"
        (click)="register()">
          Sign Up
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
