<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-back-button color="light" defaultHref="home"></ion-back-button>
    </ion-buttons>
    <strong> Notifikasi</strong>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-grid>
      <ion-row>
        <ion-col size="4">
          <img src="../../assets/sepatu.png" />
        </ion-col>
        <ion-col size="8">
          <ion-row>
            <ion-col size="1">
              <ion-icon  md="md-information"> </ion-icon>
            </ion-col>
            <ion-col size="11">
              info. 19:34
            </ion-col>
          </ion-row>
          <ion-row class="ion-no-padding ion-no-margin">
            <h4 class="ion-no-padding ion-no-margin"><strong>restock Sepatu</strong></h4>
          </ion-row>
          <ion-row class="ion-no-padding ion-no-margin">
            <h6 class="ion-no-padding ion-no-margin">Sepatu 1 suda di restock yuk beli sekarang</h6>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
</ion-content>
