

<ion-content >
  <ion-grid style="height: 100%; width: 100%; background-color:#2A7882;">
    <ion-row class="section_1">
      <ion-toolbar color="secondary">
        <ion-buttons slot="start">
          <ion-back-button color="light" defaultHref="home"></ion-back-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-row>

    <ion-row class="section_2 ion-justify-content-center">
  
      <ion-col style="text-align: center;" size="12" class="">
        <ion-card style="width: fit-content; height: fit-content; margin: 0 auto;" >
          <ion-card-content>
           <ion-icon style="height: 100px; width: 100px; color:#FEC002;" name="md-checkmark" ></ion-icon>
          </ion-card-content>
        </ion-card>
      </ion-col>
  
    
        <br>

        <ion-col size="12" style="text-align: center;">
          <h1>Order Placed!</h1>
        </ion-col>
        
        
        <ion-col size="12" class="ion-padding-bottom" style="text-align: center;">
          <h6 class="ion-margin-start ion-margin-end">your order was Placed <br>
            Thank you for purchasing <br>
            For more information <br>
            you can check your order here
          </h6>
        </ion-col>
      
        <br>
        <br>
        <br>
        
        <ion-col class="ion-padding-top"size="!2">
          <ion-button 
          expand="block"
          color="warning"
          fill="solid"
          size="large"
          shape="round"
          (click)="home()"
        >
          Back To Home
        </ion-button>
        </ion-col>
   
        
      
    </ion-row>

    <ion-row class="section_3">

    </ion-row>
  </ion-grid>
</ion-content>
