.section_1 {
  width: 100%;
  height: 15%;
  background-color: #2A7882;
}

.section_2 {
  width: 100%;
  height: 65%;
  background-color: #2A7882;
}

.section_3 {
  width: 100%;
  height: 20%;
  background-color: #2A7882;
}

ion-card-content {
    background-color: white;
    border-radius: 360px 360px 360px 360px;
 
  }
  ion-card{
background: none;
border-radius: 360px 360px 360px 360px;
  }