<ion-header>
  <ion-toolbar color="secondary">
    <strong style="padding-left: 10px;">Profile</strong>
  </ion-toolbar>
</ion-header>

<ion-content overflow-scroll="true">
  <ion-grid>
    <ion-row class="ion-padding-top ion-no-padding">
      <ion-col size="5"> </ion-col>
      <ion-col size="3">
        <ion-avatar class="ion-text-center">
          <img
            src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y"
          />
        </ion-avatar>
      </ion-col>
      <ion-col size="4"> </ion-col>
    </ion-row>

    <ion-row  class="ion-no-padding ion-no-margin ion-justify-content-center">
      <strong class="ion-no-padding ion-no-margin "
        ><h2 class="  ion-no-padding ion-no-margin ">John Doe</h2></strong
      >
    </ion-row>

    <ion-row class="ion-justify-content-center">
      <h6 class="ion-no-padding ion-no-margin">john.doe@gmail.com</h6>
    </ion-row>

    <ion-row class="ion-justify-content-center">
      <ion-button
        expand="block"
        color="warning"
        fill="outline"
        size="small"
        shape="round"
      >
        ubah Profile
      </ion-button>
    </ion-row>
  </ion-grid>

  <ion-card>
    <ion-grid class="ion-no-margin ion-no-padding">
      <ion-row>
        <ion-col class="ion-padding-left ion-margin-left">
          <ion-row style="font-size: medium;">
            Nama
          </ion-row>
          <ion-row >
            <ion-col style="font-size: large;" size="10" class="ion-no-margin ion-no-padding">
            John Doe
            </ion-col>
            <ion-col  size="2" class="ion-no-margin ion-no-padding ">
              <ion-button
              fill="clear"
              size="small">
              <strong  style="text-align: end;"> Ubah</strong>
              </ion-button>
              
            </ion-col>
          </ion-row>

          <br>

          <ion-row style="font-size: medium;">
            Tanggal Lahir
          </ion-row>
          <ion-row style="font-size: large;">
            12 januari 1995
          </ion-row>

          <br>

          <ion-row style="font-size: medium;">
            Jenis Kelamin
          </ion-row>
          <ion-row style="font-size: large;">
            Pria
          </ion-row>


          <br>

          <ion-row style="font-size: medium;">
            Email
          </ion-row>
          <ion-row >
            <ion-col style="font-size: large;" size="10" class="ion-no-margin ion-no-padding">
            JohnDoe@gmail.com
            </ion-col>
            <ion-col  size="2" class="ion-no-margin ion-no-padding ">
              <ion-button
              fill="clear"
              size="small">
              <strong  style="text-align: end;"> Ubah</strong>
              </ion-button>
              
            </ion-col>
          </ion-row>

          <br>

          <ion-row style="font-size: medium;">
            Nomor HP
          </ion-row>
          <ion-row >
            <ion-col style="font-size: large;" size="10" class="ion-no-margin ion-no-padding">
            0832-4823-9424
            </ion-col>
            <ion-col  size="2" class="ion-no-margin ion-no-padding ">
              <ion-button
              fill="clear"
              size="small">
              <strong  style="text-align: end;"> Ubah</strong>
              </ion-button>
              
            </ion-col>
          </ion-row>

          <br>


      

      
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>

  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-button style="width: 30%; height: 30px;"
      expand="block"
      color="warning"
      fill="outline"
      size="small"
      shape="round"
    >
      Logout
    </ion-button>
    </ion-row>
  </ion-grid>


</ion-content>

<ion-toolbar>
  <ion-tabs>
    <ion-tab-bar slot="bottom" color="secondary">
      <ion-tab-button tab="tab1">
        <ion-label>Keranjang</ion-label>
        <ion-icon name="cart" color="light"></ion-icon>
      </ion-tab-button>
      <ion-tab-button tab="tab2">
        <ion-label>Home</ion-label>
        <ion-icon name="calendar" color="light"></ion-icon>
      </ion-tab-button>
      <ion-tab-button tab="tab3">
        <ion-label>Akun</ion-label>
        <ion-icon name="person" color="light"></ion-icon>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
  
</ion-toolbar>
