<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-back-button color="light" defaultHref="home"></ion-back-button>
    </ion-buttons>

    <ion-grid>
      <ion-row>
        <ion-col size="3">
          <ion-avatar>
            <img
              src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y"
            />
          </ion-avatar>
        </ion-col>
        <ion-col size="7" style="margin-top:12px ;">
          <ion-label><strong> Pak slamet</strong></ion-label>
        </ion-col>
        <ion-col size="2"> </ion-col>
      </ion-row>
    </ion-grid>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="icon-only" md="md-more">
        </ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content> 

<ion-card  class="ion-margin" style="width: 80%;">
  <p class="ion-margin">loremipsumloremipsumloremipsumloremipsumloremipsumloremipsumloremipsumloremipsumloremipsumloremipsumloremipsumloremipsumloremipsumloremipsumloremipsumloremipsum
    loremipsumloremipsumloremipsumloremipsumloremipsumloremipsumloremipsumloremipsum
  </p>
</ion-card >
<p class="ion-padding-left" style="font-size: small;">11.00</p>

<ion-card  class="ion-margin ion-padding-left" style="width: 80%;">
  <p class="ion-margin">loremipsumloremipsumloremipsumloremipsumloremipsumloremipsumloremipsumloremipsumloremipsumloremipsumloremipsumloremipsumloremipsumloremipsumloremipsumloremipsum
    loremipsumloremipsumloremipsumloremipsumloremipsumloremipsumloremipsumloremipsum
  </p>
</ion-card >
<p class="ion-margin-left" style="font-size: small;">11.00</p>

</ion-content>

<ion-footer>
  <ion-toolbar color="secondary">
    <ion-grid>
      <ion-row>
        <ion-col size="10">
          <ion-item class="roundedInput">
            <ion-input
              placeholder="Say Something..."
              shape="round"
              type="text"
            ></ion-input>
          </ion-item>
        </ion-col>
        <ion-col size="2">
          <ion-fab>
            <ion-fab-button
              style="padding-left: 3px; padding-top: 2px; padding-right: 3px; padding-bottom: 5px;"
              color="warning"
            >
              <ion-icon name="arrow-forward"></ion-icon>
            </ion-fab-button>
          </ion-fab>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>
