<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-back-button color="light" defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-searchbar style="width: 90%;"></ion-searchbar>

  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid >

    <ion-row>
      <ion-col size="6">
        <ion-card class="ion-no-padding ion-no-margin">
          <ion-card-header class="padding_3">
            <img src="../../assets/sepatu.png" />
            <ion-card-subtitle class="ion-text-center">
              Sepatu Nike
            </ion-card-subtitle>
          </ion-card-header>
          <ion-card-content class="ion-text-center">
            Harga : 100.000
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col size="6">
        <ion-card class="ion-no-padding ion-no-margin">
          <ion-card-header class="padding_3">
            <img src="../../assets/sepatu.png" />
            <ion-card-subtitle class="ion-text-center">
              Sepatu Nike
            </ion-card-subtitle>
          </ion-card-header>
          <ion-card-content class="ion-text-center">
            Harga : 100.000
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col size="6">
        <ion-card class="ion-no-padding ion-no-margin">
          <ion-card-header class="padding_3">
            <img src="../../assets/sepatu.png" />
            <ion-card-subtitle class="ion-text-center">
              Sepatu Nike
            </ion-card-subtitle>
          </ion-card-header>
          <ion-card-content class="ion-text-center">
            Harga : 100.000
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col size="6">
        <ion-card class="ion-no-padding ion-no-margin">
          <ion-card-header class="padding_3">
            <img src="../../assets/sepatu.png" />
            <ion-card-subtitle class="ion-text-center">
              Sepatu Nike
            </ion-card-subtitle>
          </ion-card-header>
          <ion-card-content class="ion-text-center">
            Harga : 100.000
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col size="6">
        <ion-card class="ion-no-padding ion-no-margin">
          <ion-card-header class="padding_3">
            <img src="../../assets/sepatu.png" />
            <ion-card-subtitle class="ion-text-center">
              Sepatu Nike
            </ion-card-subtitle>
          </ion-card-header>
          <ion-card-content class="ion-text-center">
            Harga : 100.000
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col size="6">
        <ion-card class="ion-no-padding ion-no-margin">
          <ion-card-header class="padding_3">
            <img src="../../assets/sepatu.png" />
            <ion-card-subtitle class="ion-text-center">
              Sepatu Nike
            </ion-card-subtitle>
          </ion-card-header>
          <ion-card-content class="ion-text-center">
            Harga : 100.000
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
