<ion-header>
  <ion-toolbar color="secondary">
     
    <ion-searchbar></ion-searchbar>
    <ion-item lines="none" slot="end" color="secondary">
      <ion-icon name="mail"></ion-icon>
    </ion-item>
    <ion-item lines="none" slot="end" color="secondary">
      <ion-icon name="notifications-outline"></ion-icon>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid >
    <ion-row >
      <ion-slides pager="true">
        <ion-slide>
          <ion-card class="ion-no-padding ion-no-margin">
            <img src="../../assets/sepatu.png" />
            <h1>iklan 1</h1>
          </ion-card>
        </ion-slide>
        <ion-slide class="ion-no-padding ion-no-margin">
          <ion-card>
            <img src="../../assets/sepatu.png" />
            <h1>iklan 2</h1>
          </ion-card>
        </ion-slide>
        <ion-slide class="ion-no-padding ion-no-margin">
          <ion-card>
            <img src="../../assets/sepatu.png" />
            <h1>iklan 3</h1>
          </ion-card>
        </ion-slide>
      </ion-slides>
    </ion-row>

    <ion-row>
      <ion-col size="6">
        <ion-card class="ion-no-padding ion-no-margin">
          <ion-card-header class="padding_3">
            <img src="../../assets/sepatu.png" />
            <ion-card-subtitle class="ion-text-center">
              Sepatu Nike
            </ion-card-subtitle>
          </ion-card-header>
          <ion-card-content class="ion-text-center">
            Harga : 100.000
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col size="6">
        <ion-card class="ion-no-padding ion-no-margin">
          <ion-card-header class="padding_3">
            <img src="../../assets/sepatu.png" />
            <ion-card-subtitle class="ion-text-center">
              Sepatu Nike
            </ion-card-subtitle>
          </ion-card-header>
          <ion-card-content class="ion-text-center">
            Harga : 100.000
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col size="6">
        <ion-card class="ion-no-padding ion-no-margin">
          <ion-card-header class="padding_3">
            <img src="../../assets/sepatu.png" />
            <ion-card-subtitle class="ion-text-center">
              Sepatu Nike
            </ion-card-subtitle>
          </ion-card-header>
          <ion-card-content class="ion-text-center">
            Harga : 100.000
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col size="6">
        <ion-card class="ion-no-padding ion-no-margin">
          <ion-card-header class="padding_3">
            <img src="../../assets/sepatu.png" />
            <ion-card-subtitle class="ion-text-center">
              Sepatu Nike
            </ion-card-subtitle>
          </ion-card-header>
          <ion-card-content class="ion-text-center">
            Harga : 100.000
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col size="6">
        <ion-card class="ion-no-padding ion-no-margin">
          <ion-card-header class="padding_3">
            <img src="../../assets/sepatu.png" />
            <ion-card-subtitle class="ion-text-center">
              Sepatu Nike
            </ion-card-subtitle>
          </ion-card-header>
          <ion-card-content class="ion-text-center">
            Harga : 100.000
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col size="6">
        <ion-card class="ion-no-padding ion-no-margin">
          <ion-card-header class="padding_3">
            <img src="../../assets/sepatu.png" />
            <ion-card-subtitle class="ion-text-center">
              Sepatu Nike
            </ion-card-subtitle>
          </ion-card-header>
          <ion-card-content class="ion-text-center">
            Harga : 100.000
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-tabs>
  <ion-tab-bar slot="bottom" color="secondary">
    <ion-tab-button tab="tab1">
      <ion-label>Keranjang</ion-label>
      <ion-icon name="cart" color="light"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="tab2">
      <ion-label>Home</ion-label>
      <ion-icon name="calendar" color="light"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="tab3">
      <ion-label>Akun</ion-label>
      <ion-icon name="person" color="light"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
