.button-icon {
    display: block; /*** icons on the texts ***/
    font-size: 36px; /*** increase size of icons ***/
  }

  .color_wihte{
    color: white;
  }

.padding_3{
  padding: 3px ;
}

ion-slide {
  display: block;

  width: 100%;
  height: 200px;
}