<ion-header style="height: 107px;">
  <ion-toolbar color="secondary" >
     
    <ion-searchbar
    (ionChange)="setFilteredBarang($event)">
    </ion-searchbar>
    <ion-item lines="none" slot="end" color="secondary">
      <ion-icon name="mail"></ion-icon>
    </ion-item>
    <ion-item lines="none" slot="end" color="secondary">
      <ion-icon name="notifications-outline"></ion-icon>
    </ion-item>
  </ion-toolbar>
  <ion-buttons style="margin-top: 10px; margin-left: 10px; margin-right: 10px;">
    <ion-button 
     expand="block"
    color="secondary"
    fill="outline"
    size="large"
    shape="round">
    <ion-select placeholder="Kategori" style="margin-top: 4px;">
      <ion-select-option value="f">Spakbor</ion-select-option>
      <ion-select-option value="m">Ban</ion-select-option>
      <ion-select-option value="f">Jari-Jari</ion-select-option>
      <ion-select-option value="m">Grip</ion-select-option>
      <ion-select-option value="f">Footstep</ion-select-option>
      <ion-select-option value="m">Baut</ion-select-option>
      <ion-select-option value="f">Besi Body</ion-select-option>
      <ion-select-option value="m">Helm</ion-select-option>
    </ion-select>
    </ion-button
    >

    <ion-button 
    expand="block"
   color="secondary"
   fill="outline"
   size="large"
   shape="round">
   <ion-select (ionChange)="setMerk($event)" placeholder="Merk" style="margin-top: 4px; ">
     <ion-select-option *ngFor="let tmp of merk" value="{{tmp}}">{{tmp}}</ion-select-option>
   </ion-select>
   </ion-button>

   <ion-button 
   expand="block"
  color="secondary"
  fill="outline"
  size="large"
  shape="round" 
  (click)="listView()">
   <h6 style="font-size: small; padding-bottom: 6px;opacity: 60%;">List View</h6>
  </ion-button
  >
  </ion-buttons>

  

</ion-header>

<ion-content>
  <ion-grid >
    <ion-row >
      <ion-slides pager="true">
        <ion-slide>
          <ion-card class="ion-no-padding ion-no-margin">
            <img src="../../assets/sepatu.png" />
            <h1>iklan 1</h1>
          </ion-card>
        </ion-slide>
        <ion-slide class="ion-no-padding ion-no-margin">
          <ion-card>
            <img src="../../assets/sepatu.png" />
            <h1>iklan 2</h1>
          </ion-card>
        </ion-slide>
        <ion-slide class="ion-no-padding ion-no-margin">
          <ion-card>
            <img src="../../assets/sepatu.png" />
            <h1>iklan 3</h1>
          </ion-card>
        </ion-slide>
      </ion-slides>
    </ion-row>

    <ion-row>
      <ion-col size="6" *ngFor="let tmp of barang" routerLink='/details/{{tmp.id}}'>
        <ion-card class="ion-no-padding ion-no-margin">
          <ion-card-header class="padding_3">
            <img src="../../assets/sepatu.png" />
            <ion-card-subtitle class="ion-text-center">
              {{tmp.nama_barang}}
            </ion-card-subtitle>
          </ion-card-header>
          <ion-card-content class="ion-text-center">
            Harga : {{tmp.harga_pokok}} / {{tmp.satuan}}
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-infinite-scroll (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content
      loadingSpinner="circles"
      loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>

<ion-toolbar class="bar">
  <ion-tabs>
    <ion-tab-bar slot="bottom" color="secondary">
      <ion-tab-button (click)="keranjang()">
        <ion-label>Keranjang</ion-label>
        <ion-icon name="cart" color="light"></ion-icon>
      </ion-tab-button>
      <ion-tab-button>
        <ion-label>Home</ion-label>
        <ion-icon name="calendar" color="light"></ion-icon>
      </ion-tab-button>
      <ion-tab-button (click)="myOrder()">
        <ion-label>Akun</ion-label>
        <ion-icon name="person" color="light"></ion-icon>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
  
</ion-toolbar>