<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-back-button color="light" defaultHref="home"></ion-back-button>
    </ion-buttons>

    <ion-searchbar></ion-searchbar>
    <ion-item
      lines="none"
      slot="end"
      color="secondary"
      class="ion-no-padding ion-no-margin"
    >
      <ion-icon name="share" color="light"></ion-icon>
    </ion-item>
    <ion-item
      lines="none"
      slot="end"
      color="secondary"
      class="ion-no-padding ion-no-margin"
    >
      <ion-icon name="cart" color="light"></ion-icon>
    </ion-item>
    <ion-item
      lines="none"
      slot="end"
      color="secondary"
      class="ion-no-padding ion-no-margin"
    >
      <ion-icon name="mail" color="light"></ion-icon>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="ion-no-padding ion-no-margin">
    <ion-row>
      <ion-slides pager="true">
        <ion-fab vertical="bottom" horizontal="end" slot="fixed">
          <ion-fab-button translucent="true">
            <ion-icon name="heart-empty" color="light"></ion-icon>
          </ion-fab-button>
        </ion-fab>
        <ion-slide>
          <ion-card class="ion-no-padding ion-no-margin">
            <img src="../../assets/sepatu.png" />
          </ion-card>
        </ion-slide>
        <ion-slide>
          <ion-card class="ion-no-padding ion-no-margin">
            <img src="../../assets/sepatu.png" />
          </ion-card>
        </ion-slide>
        <ion-slide>
          <ion-card class="ion-no-padding ion-no-margin">
            <img src="../../assets/sepatu.png" />
          </ion-card>
        </ion-slide>
      </ion-slides>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row>
      <ion-item lines="none">
        <ion-col size="10" class="ion-no-padding">
          <h3><b>Sepatu Adidas PureBoost Oreo Brand New In Box</b></h3>
        </ion-col>
        <ion-col size="2" class="ion-no-padding"> </ion-col>
      </ion-item>
    </ion-row>
    <ion-row>
      <ion-col size="12" style="height: fit-content;">
        <ion-item lines="full">
          <h3 style="color: #FEC002;margin:0px">
            <b>Rp.2.200.000 ~ Rp.2400.000</b>
          </h3>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row>
      <ion-col size="12" style="padding-bottom: 0px;">
        <ion-item lines="none">
          <h3><b>Informasi Produk</b></h3>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="6" style="padding-top: 0px;padding-bottom: 0px;">
        <ion-item lines="none">
          <h4 class="ion-no-margin" style="color: grey; font-weight:400;">
            Berat
          </h4>
        </ion-item>
      </ion-col>
      <ion-col size="6" style="padding-top: 0px;padding-bottom: 0px;">
        <ion-item lines="none" class="right">
          <h4 class="ion-no-margin" style="color: grey; font-weight:400;">
            400 Gram
          </h4>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="6" style="padding-top: 0px;padding-bottom: 0px;">
        <ion-item lines="none">
          <h4 class="ion-no-margin" style="color: grey; font-weight:400;">
            kondisi
          </h4>
        </ion-item>
      </ion-col>
      <ion-col size="6" style="padding-top: 0px;padding-bottom: 0px;">
        <ion-item lines="none" class="right">
          <h4 class="ion-no-margin" style="color: grey; font-weight:400;">
            Baru
          </h4>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="6" style="padding-top: 0px;padding-bottom: 0px;">
        <ion-item lines="none">
          <h4 class="ion-no-margin" style="color: grey; font-weight:400;">
            Pemesanan Min
          </h4>
        </ion-item>
      </ion-col>
      <ion-col size="6" style="padding-top: 0px;padding-bottom: 0px;">
        <ion-item lines="none" class="right">
          <h4 class="ion-no-margin" style="color: grey; font-weight:400;">1</h4>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="6" style="padding-top: 0px;padding-bottom: 0px;">
        <ion-item lines="none">
          <h4 class="ion-no-margin" style="color: grey; font-weight:400;">
            Kategori
          </h4>
        </ion-item>
      </ion-col>
      <ion-col size="6" style="padding-top: 0px;padding-bottom: 0px;">
        <ion-item lines="none" class="right">
          <h4 class="ion-no-margin" style="color: grey; font-weight:400;">
            Sepatu
          </h4>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="6">
        <ion-item lines="none">
          <h4 class="ion-no-margin" style="color: grey; font-weight:400;">
            Etalase
          </h4>
        </ion-item>
      </ion-col>
      <ion-col size="6">
        <ion-item lines="none" class="right">
          <h4 class="ion-no-margin" style="color: grey; font-weight:400;">
            Adidas
          </h4>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <ion-item lines="none">
          <h3><b>Deskripsi Produk</b></h3>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-item lines="none">
          <p
            style="color: grey; font-weight:400; margin-top: 0px; margin-bottom: 0px; font-size: 18px;"
          >
            deskripsi produk:
            <br />
            -paasasgasgasgasgasgasgsagas
            <br />
            -asgagqwgqwgqgqwgqwgqgqwgq
            <br />
            -ngkqkgnkqwfqwdnqwnfqnwfqqgqwg
            <br />
            -asgnqngnqwnkfqnwfqnwfnw
            <br />
            -asgasjngkqngnqwfnlqwfnkqwnlfklk
          </p>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer style="background-color: #2A7882;">
  <div color="secondary">
    <ion-grid class="ion-no-padding ion-no-margin">
      <ion-row>
        <ion-col size="2"> </ion-col>
        <ion-col size="5">
          <ion-button
            class="button_footer"
            style="font-size: x-small;"
            color="warning"
            shape="block"
            fill="outline"
            >Beli</ion-button
          ></ion-col
        >
        <ion-col size="5">
          <ion-button
            class="button_footer"
            style="font-size: x-small;"
            color="warning"
            shape="block"
            >Tambah Ke keranjang</ion-button
          ></ion-col
        >
      </ion-row>
    </ion-grid>
  </div>
</ion-footer>
