<ion-content color="secondary">
  <ion-grid>
    <ion-row class="section_1 ion-padding">
      <ion-col size="12" class="ion-text-center">
        <h1 style="color:#FEC002 ; font-size: xx-large;" > <strong>Register</strong> </h1>
      </ion-col>
      <br>

          <ion-col size="12">
            <ion-item class="roundedInput">
              <ion-label position="floating">Username</ion-label>
              <ion-input type="text"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col size="12">
            <ion-item class="roundedInput">
              <ion-label position="floating">Password</ion-label>
              <ion-input type="password"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col size="12">
            <ion-item class="roundedInput">
              <ion-label position="floating">Email</ion-label>
              <ion-input type="email" ></ion-input type="email">
            </ion-item>
          </ion-col>
          <ion-col size="12">
            <ion-item class="roundedInput">
              <ion-label position="floating">Alamat</ion-label>
              <ion-input type="text" ></ion-input type="text">
            </ion-item>
          </ion-col>
          <ion-col size="12">
            <ion-item class="roundedInput">
              <ion-label position="floating">No Handphone</ion-label>
              <ion-input type="numeric" ></ion-input type="numeric">
            </ion-item>
          </ion-col>
          <ion-col size="12">
            <ion-item class="roundedInput">
              <ion-label position="floating">Provinsi</ion-label>
              <ion-input type="text" ></ion-input type="text">
            </ion-item>
          </ion-col>
          <ion-col size="12">
            <ion-item class="roundedInput">
              <ion-label position="floating">Kota</ion-label>
              <ion-input type="text" ></ion-input type="text"> 
            </ion-item>
          </ion-col>
      
    </ion-row>

    <br>
    <br>
    
    <ion-row class="section_3"> 
      <ion-col size=12>
        <ion-button expand="block"
        color="warning"
        fill="solid"
        size="large"
        shape="round">
        Sign Up
        </ion-button>
      </ion-col>
 
      <ion-col size="12" class="ion-justify-content-center" style="text-align: center;">
        already have account?
         <ion-button
        fill="clear"
        size="small" class="ion-no-padding ion-margin-bottom">
        <strong style="color: #FEC002;">Login</strong>
        </ion-button
        >
      </ion-col>

    </ion-row>
  </ion-grid>
</ion-content>
